h1{
    text-align: center;
    color:rgba(26, 36, 36, 0.801);
    font-size: 55px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

h2{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    text-align: end;
    color:rgba(20, 18, 18, 0.747)
    
}

h4{
    text-align: center;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(135, 144, 160, 0.774);
    : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-align: center;
}

li {
    display: inline-block;
    background-color: rgb(8, 8, 8);
    float: none
    
}
body {
    background-image: linear-gradient(to left,rgba(7, 7, 7, 0.575), rgba(240, 234, 234, 0.322) );
}

.iilogo {

    width: 100px;
    height: 100px;
    border-radius: 100%;
    
}

.iiicontactanos{

    width: 1350px;
    height: 300px;
    border-radius: 5%;
}

.OIP8{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.iconos{
    display: flex;
   flex-wrap: nowrap;
    width: 160px;
    height: 80px;
}